body {
background-color: rgb(19, 19, 19);
color: white;
align-content: center;
}

h1 {
text-align: center;
padding-top: 10%;
font-size: 50px;
font-weight: 1000;

}
p {
    font-size: 20px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.navparent img{
    height: 200px;
    border-radius: 10px;
    border-width: 4px;
    border-color:transparent;
    border-style:solid;
    transition: 0.5s;
    transition-timing-function:ease-in;
}

.navparent img:hover {
    border-width: 4px;
    border-style: solid;
    border-color: white;
}

.navhead {
    text-align: center;
    align-items: center;
    align-self: center;
    display: inline-block;
}

.navhead a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    width: 10%;
    text-align: center;

}
.navhead li{
    list-style-type:none;
    padding: auto;
    align-self: center;
}

.navhead ul {
    padding: 0;
}
.navparent {
    text-align: center;
    align-items: center;
    align-self: center;
    display: block;
    animation-name: Opacitychange;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-out;

}

.buttonstyle {
text-decoration: none;
color: lightgray;
border: solid lightgray 2px;
padding: 5px;
transition: .5s;
}

.buttonstyle:hover {
border: 3px solid;
border-radius: 4px;
transition: .5s;
}

#centered {
    text-align: center;
    display: block;
    margin: auto;
    
}

.navbar{
    background-image: linear-gradient(black, rgba(0,0,0,0));
    padding: 20px;
    margin: auto;
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
}
.navbar a{
    transition: .5s;

    color: white;
    font-size: 18px;
    position: relative;
    margin-left: 30px;
}

.navbar a:hover {
    transition: .5s;
color: rgb(165, 165, 165);
}

.navbar img {
    position:fixed;
    left:0;
    display: inline-block;
    margin-right: 50px;
    margin-left: 10px;

}

@keyframes Opacitychange {
    from{opacity: 0%;transform: scale(1.2);}
    to{opacity: 100%;transform: scale(1);}  
}


.topgradient {
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
    margin: auto;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 30px;
}